<div class="container">
  <header class="container_header">
    <span [routerLink]="['home']">Home</span>
    <span [routerLink]="['sale']">Sale online</span>
  </header>
  <main class="container_main">
    <!-- <p-button label="Calculate" (onClick)="transform5BathToBath()"></p-button>
    <p-button label="Sum" (onClick)="sum()"></p-button>
    เหรียญห้าบาท {{fiveBathlist | json}}
    เหรียญหนึ่งบาท {{oneBathlist | json}}
    ผลรวม {{summary}} -->
    <router-outlet></router-outlet>
  </main>
</div>
